@import './base.css';
@import 'primeicons/primeicons.css';

body {
  background-color: var(--surface-ground);
  color: var(--text-primary);
}

:not(.dark) body {
  background-color: #f8f9fa;
}

h1 {
  font-size: clamp(1.5rem, calc(2vw + 1rem), 2.5rem);
  font-family: var(--font-family);
}

:not(.dark) h1 {
  color: #334155;
}
.dark h1 {
  color: var(--text-primary);
}
